<div class="paginaCompleta">
    <div class="menu">
        <h6>JACOALHERIA</h6>
            <div class="produto" [routerLink]="['/aliancas']" routerLinkActive="active">Alianças</div>
            <div class="produto" [routerLink]="['/aneis']" routerLinkActive="active">Aneis</div>
            <div class="produto" [routerLink]="['/argolas']" routerLinkActive="active">Argolas</div>
            <div class="produto" [routerLink]="['/babykids']" routerLinkActive="active">Baby e Kids</div>            
            <div class="produto" [routerLink]="['/brincos']" routerLinkActive="active">Brincos</div>
            <div class="produto" [routerLink]="['/correntes']" routerLinkActive="active">Correntes</div>
            <div class="produto" [routerLink]="['/colares']" routerLinkActive="active">Colares</div>
            <div class="produto" [routerLink]="['/piercings']" routerLinkActive="active">Piercings</div>
            <div class="produto" [routerLink]="['/pingentes']" routerLinkActive="active">Pingentes</div>
            <div class="produto" [routerLink]="['/pulseiras']" routerLinkActive="active">Pulseiras</div>

    </div>
    <div class="produtos">
        <router-outlet></router-outlet>
    </div>
</div>