.paginaCompleta{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.produto {
    padding: 10px;
    margin: 5px;
    margin-left: 20%;
    border-radius: 10px;
    width:fit-content;
    height: auto;
}

.produto:hover {
    background-color: #000;
    color: #fff;
}
h6{
    color: #000;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px ;
}
.menu{
    width: 20%;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    
}
.produtos{
    width: 80%;
    background-color: #fff;
}